@charset "ISO-8859-1";
.navbar-top.border-bottom.navbar-dark {
    border-color: rgba(255, 255, 255, 0.08) !important;
}
.main-content .navbar-top {
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.navbar-top.border-bottom.navbar-dark {
    border-color: rgba(255, 255, 255, 0.08) !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.95);
}
.main-content .navbar-top {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.navbar-top {
    padding-right: 1rem;
    padding-left: 1rem;
    border: 0px;
}
.border-bottom {
    border-bottom: 1px solid rgb(233, 236, 239) !important;
}
.bg-primary {
    background-color: rgb(94, 114, 228) !important;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 1rem;
}
.navbar {
    position: relative;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
ul {
  
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media (min-width: 768px)
{
	.ml-md-0, .mx-md-0 {
    margin-left: 0!important;
}
}


.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.dropdown{
    display: inline-block;
     position: relative;
}
 .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: rgb(208 22 22 / 65%);
}
.pr-0, .px-0 {
    padding-right: 0px !important;
}
.nav-link {
    display: block;
    padding: 0.25rem 0.75rem;
        padding-right: 1rem;
    padding-left: 1rem;
}
a {
    text-decoration: none;
    color: rgb(94, 114, 228);
    background-color: transparent;
}
li {
    text-align: -webkit-match-parent;
}
.avatar-sm {
    font-size: 0.875rem;
    width: 36px;
    height: 36px;
}
.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: rgb(255, 255, 255);
    border-radius: 0.375rem;
    background-color: rgb(173, 181, 189);
    align-items: center;
    justify-content: center;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    text-align: left;
    color: rgb(82, 95, 127);
    background-color: rgb(248, 249, 254);
}
.avatar.rounded-circle img, .rounded-circle {
    border-radius: 50% !important;
}

.avatar img {
    width: 100%;
    border-radius: 0.375rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}

.d-lg-block {
    display: block !important;
}
.d-none {
    display: none !important;
}
.media-body {
    flex: 1 1 0%;
}

@media (min-width: 768px)
{
.ml-md-auto, .mx-md-auto {
    margin-left: auto!important;
}
}
.text-sm {
    font-size: 0.875rem !important;
}
.font-weight-bold {
    font-weight: 600 !important;
}
.mb-0, .my-0 {
    margin-bottom: 0px !important;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
@media (min-width: 992px)
{
	.d-lg-block {
    display: block !important;
}
}

.objectrow
{
	color:blue;
}

/*tabel style*/
table{
	 border: 6px solid white;
  border-collapse: collapse;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	width: 100%;
	table-layout: fixed;
}
