.THIS.cMarkAttendanceMap_area > .slds-grid{
     height: 860px!important;
}
.THIS.cMarkAttendanceMap_area iframe {
    height:860px!important;
}

/*@media(max-width:540px){
    .THIS.cMarkAttendanceMap.cMarkAttendanceMap_area>.slds-grid {
    height: 500px !important;
}
    .THIS.cMarkAttendanceMap.cMarkAttendanceMap_area iframe {
    height: 500px !important;
}
   
}*/


 .THIS.cMarkAttendanceMap_area .exampleHolder lightning-spinner{
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.THIS.cMarkAttendanceMap_area{
    overflow-x:hidden;
}

@media(max-width:540px){
    .THIS.cMarkAttendanceMap.cMarkAttendanceMap_area>.slds-grid {
    height: calc(100vh - 320px) !important;
}
    .THIS.cMarkAttendanceMap.cMarkAttendanceMap_area iframe {
    height: calc(100vh - 320px) !important;
}
}