.THIS .Yes svg {
    fill: green;    
}
.THIS .No svg {
    fill: red;    
}
.THIS .null svg {
    fill: red;    
}
.THIS.Datatable{
    margin-left: 10px;
}
.THIS.Batch{
    margin-left: 10px;
    width: 80%;
}
.THIS.primaryContact{
    z-index: 99999;
    margin-top: -56px;
    margin-left: 19%;
    width: 80%;
}
.THIS.mainGateEnteryIn{
      z-index: 99999;
    margin-top: -56px;
    margin-left: 37.5%;
    width: 80%;
}
.THIS.mainGateEnteryOut{
      z-index: 99999;
    margin-top: -56px;
    margin-left: 56%;
    width: 80%;
}

.THIS .slds-text-color_success{
    color: #fff;
    display: inline-block;
    padding: 7px 40px 7px 40px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width:100%;
}
.THIS .slds-text-color_success lightning-base-formatted-text {
    background-color: #28a745;
    border-radius: 20px;
    padding: 7px 25px 7px 25px;
    line-height: 30px;
}

.THIS .slds-text-color_error lightning-base-formatted-text {
    background-color: #dc3545;
    border-radius: 20px;
    padding: 7px 21px 7px 21px;
    line-height: 30px;
}

.THIS .slds-text-color_error{
    color: #fff;
    display: inline-block;
    font-size: 75%;
    padding: 7px 40px 7px 40px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    width:100%;
}

.THIS .button-action{
    top: 48px !important;
    right: 20px !important;
    width: 33% !important;
    float: right !important;
    position: absolute !important;
}

.slds-button-group.button-action1.cStudentInOutListData {
    top: 100px!important;
    right: 1px !important;
    width: 9.4% !important;
    position: absolute!important;
}

.slds-button-group.button-action1.cStudentInOutListData:hover {
  border:1px solid !important;
}

.slds-button-group.button-action.cStudentInOutListData {
    top: 22px!important;
    right: -230px!important;
    width: 34%!important;
    position: absolute!important;
}
.THIS .slds-select_container {
    width: 20%;
}
.THIS.search-box {
    margin-left: 10px;
    width: 32.5%;
}
.THIS lightning-base-formatted-text {
    padding-left: 15px;
}