.THIS .priceInput{
	width: 170px; 
}

.THIS .productNameInput{
    width: 125px;
}

.THIS .quan{
    width: 130px;
}

.THIS .quantity{
    padding-top : 10px;
    width: 65px;
}

.THIS .discount{
    width : 85px;
}

.THIS .seatType{
    width : 130px;
}

.THIS .tdStyle {
    padding : 0px !important;
}

.THIS .no-label .slds-form-element__label{
    display:none;
}

.THIS * [disabled]{
    border:0 !important;
}

.THIS thead th{
    padding: 3px 15px !important;
    text-align: center !important;
}

.THIS .seatType{
    white-space : pre !important;
}