.THIS .Yes svg {
    fill: green;    
}
.THIS .No svg {
    fill: red;    
}
.THIS .null svg {
    fill: red;    
}
.THIS .slds-text-color_success{
    color: #fff;
    background-color: #28a745;
    border-radius: 10rem;
    display: inline-block;
    padding: 7px 40px 7px 40px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    margin-left:30%;
}
.THIS .slds-text-color_error{
    color: #fff;
    background-color: #dc3545;
    border-radius: 10rem;
    display: inline-block;
    padding: 7px 40px 7px 40px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    margin-left:30%;
}

.THIS .button-action{
    top: 48px !important;
    right: 20px !important;
    width: 33% !important;
    float: right !important;
    position: absolute !important;
}
.slds-button-group.button-action.cStudentDashboardListingTest {
    right: 20px;
    position: absolute;
    top: 48px;
    width: 33% !important;
}

.THIS .slds-select_container {
    width: 32.5%;
}
.THIS select[name='primaryContact']{
    position: absolute;
    z-index: 99999;
    margin-top: -52px;
    margin-left: 427px;
}