.searchTerm {
    width: 100%;
    border: 3px solid #eaefef;
    padding: 5px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    color: #9DBFAF;
  }
  .buttoncss
  {
    margin:5px;
     border-radius: 5px 5px 5px 5px;
     border: none;
     padding: 10px 20px;
  }
  .clip
  {
    font-size: 25px;
    font-weight: bold;
    
  }
  .site-footer { 
   
    padding: .5em 1em;
    
    
  }
  .site-footer i {

    float: right;
  }
  .wrap
  {
    display: inline;
  }