.THIS .mainClass{
    margin-top: 3.5rem !important;
}

.THIS .titleClass{
    font-size: 18px;
    margin-left: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    font-variant: all-petite-caps;
    text-transform: none;
    font-weight: bold;
    text-align : center;
}

.THIS .content {
    display: flex;
    flex-wrap: wrap;
}

.THIS .slds-card{
    margin-top: 0px !important;
    border: 0px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.10) !important;
    background: rgba(255, 255, 255, 0) !important;
}

.THIS .slds-brand-band_cover{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#324268+0,33a8b7+100 */
    background: rgb(50,66,104) !important; /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(50,66,104,1) 0%, rgba(51,168,183,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(50,66,104,1) 0%,rgba(51,168,183,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(50,66,104,1) 0%,rgba(51,168,183,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324268', endColorstr='#33a8b7',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}